.topnav{
     margin-top: 16px;
    display: flex;
    justify-content: space-between;

}
.topnav img{
    margin-left:60px;
   
    width: 200px;
}

.hero{
    max-width: 1300px;
    height: 500px;
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
  
}
.heroch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.heroch1{
    display: flex;
}
.heroch2{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.heroch3 { 
    display: flex;
   gap: 20px;
   


}
.logo img{
    width: 30px;
    height: 30px;
    background-color:#F95555;
    border-radius: 20px;

}
.logo{
    text-align: center;
}
.heroch4{
    display: flex;
    margin-top: 150px;
    gap: 50px;
  
 
}
.banar img{
    height: 500px;
   margin-left: 30px;
}
.tex p img {
    

width: 20px;
height: 20px;
background-color: rgba(48, 184, 104, 1);
border-radius: 10px;

}
.heroch4 .tex{
    margin-left: 20px;
}


